@import './ani.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
  user-select: none;
}


//헤더
.header {
  width: 100vw;
  height: 20vh;

  .userBar {
    height: 10vh;
    background-color: #000000;
    color: white;
    position: relative;

    .inner {
      width: 80%;
      height: 100%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .logo {
        font-size: 2.5vw;
        font-weight: 800;
      }

      .userMenu {
        display: flex;
        width: 12vw;
        justify-content: space-between;
        list-style: none;
        font-size: 1vw;

        li {
          cursor: pointer;
          color: white;
          text-decoration: none;

          &.logon {
            width: 100%;
            font-weight: 500;

            > div {
              display: flex;
              justify-content: space-between;
              align-items: center;
            }


            &:hover p {
              font-weight: 500;
              text-decoration: underline;
            }

            .userTab {
              position: absolute;
              top: 100%;
              width: 12%;
              height: 0%;
              background-color: white;
              transition: .5s;
              overflow: hidden;
              border: 2px solid transparent;
              display: flex;
              flex-direction: column;
              justify-content: space-around;
              z-index: 1;


              li {
                color: black;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                &:hover {
                  background-color: rgba(black, .05);
                  color: #1187CF;
                }
              }

              &.active {
                height: 200%;
                border: 2px solid rgba(black, .4);
                border-top: none;
              }
            }
          }

          &:link {
            text-decoration: none;
          }

          &:hover {
            font-weight: 700;
          }
        }
      }
    }
  }

  .menuBar {
    height: 10vh;
    background-color: #EFEFEF;

    .inner {
      width: 80%;
      height: 100%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .menuList {
      width: 20vw;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style: none;
    }

    .searchBox {
      width: 25vw;
      height: 60%;
      border: 1px solid black;
      display: flex;
      justify-content: space-around;
      align-items: center;
      background-color: white;

      input {
        border: none;
        outline: none;
        width: 75%;
        height: 100%;
      }

      button {
        width: 15%;
        height: 80%;
        background-color: #000000;
        border: none;
        color: white;
        cursor: pointer;
        transition: .3s;

        &.active {
          background-color: #1187CF;
        }
      }
    }
  }
}

//소개 페이지
.introPage {
  width: 100vw;
  height: 80vh;

  .inner {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    position: relative;

    .noticeBox {
      position: absolute;
      width: 30vw;
      height: 40vh;
      top: 10vh;
      left: 0;
      background-color: white;

      p {
        font-weight: 700;
        font-size: 2vw;
        text-align: left;
        border-bottom: 2px solid rgba(black, .2);

        span {
          border-bottom: 2px solid #1187CF;
        }
      }

      .noticeList {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        .noticeEl {
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 90%;
          height: 30%;
          text-align: left;
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }

          &::after {
            content: "";
            position: absolute;
            background-color: #1187CF;
            width: .5%;
            height: 10%;
            margin-left: -1vw;
          }

          h1 {
            font-size: 1.5vw;
          }

          h2 {
            font-size: 1vw;
            font-weight: 300;
          }
        }
      }
    }

    .recommendShop {
      position: absolute;
      width: 45vw;
      height: 45vh;
      top: 10vh;
      right: 0;
      background-color: #EFEFEF;
      border-radius: .5vw;
      display: flex;
      justify-content: space-around;
      align-items: center;

      .recommendList {
        width: 30%;
        height: 90%;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        list-style: none;

        li {
          width: 100%;
          height: 25%;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;

          &:hover {
            font-weight: 700;
            background-color: rgba(black, .05);
          }
        }
      }

      .banner {
        width: 60%;
        height: 90%;
        background: {
          image: url('../images/banner.png');
          position: center;
          size: cover;
        }
      }
    }
  }

  .noticeBar {
    background-color: #EFEFEF;
    width: 100%;
    height: 10vh;
    position: absolute;
    bottom: 0;
  }
}

//쇼핑 탭
.shop {
  width: 100vw;
  height: 100vh;
  background-color: #EFEFEF;

  .inner {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    p {
      font-weight: 500;
      font-size: 3vw;
    }

    ul {
      width: 50vw;
      height: 70%;

      display: flex;
      justify-content: space-around;
      align-items: center;
      list-style: none;
      margin: 0 auto;

      li {
        color: black;
        font-weight: 300;
        cursor: pointer;
      }

      li.active {
        border-bottom: 1px solid black;
        font-weight: 700;
      }
    }

    .shopBody {
      width: 100%;
      height: 60%;
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      justify-items: center;
      justify-content: space-around;
      align-items: center;

      .productEl {
        width: 95%;
        height: 95%;
        background-color: white;
        position: relative;

        &:hover {
          .productName {
            height: 100%;

            h1 {
              position: absolute;
              top: 10%;
            }

            .productInfo {
              position: absolute;
              width: 100%;
              height: 70%;
              animation: infoShow 1s .3s linear forwards;
              bottom: 0;

              p {
                font-size: 1vw;
              }

              .productBtnBox {
                display: flex;
                width: 80%;
                height: 80%;
                margin: 0 auto;
                justify-content: space-around;
                align-items: center;

                button {
                  width: 40%;
                  height: 30%;
                  border: none;
                  transition: .5s;
                  cursor: pointer;

                  &:hover {
                    scale: 1.02;
                  }

                  &:active {
                    scale: 0.98;
                  }

                  &.btnBuy {
                    background-color: #1187CF;
                    color: white;
                  }

                }
              }
            }
          }
        }

        .productImage {
          width: 100%;
          height: 80%;
          background: {
            size: cover;
            position: center;
          };
        }

        .productName {
          position: absolute;
          bottom: 0;
          width: 100%;
          height: 20%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          transition: 1s;
          background-color: white;

          h1 {
            font-size: 1.5vw;
          }

          .productInfo {
            display: block;
            height: 0;
            opacity: 0;
            overflow: hidden;
          }
        }
      }
    }

    .shopFooter {
      width: 20%;
      height: 10%;;

      li {
        &.active {
          font-weight: 700;
        }
      }
    }
  }
}

//로그인창
.loginPage {
  width: 100vw;
  height: 100vh;
  background-color: rgba(black, .7);
  position: fixed;
  left: 0;
  top: 0;

  active {
    color: red;
  }

  .loginForm {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 40%;
    height: 90%;
    background-color: white;
    animation: formShow .5s linear forwards;

    .inner {
      width: 80%;
      height: 100%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;


      .loginInputBox {
        width: 80%;
        height: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .inputEl {
          position: relative;
          height: 35%;


          .inputMsg {
            display: flex;
            height: 70%;
            align-items: center;
            position: absolute;
            bottom: 0;
            user-select: auto;
            color: gray;
            transition: .2s;

            &.active {
              color: #1187CF;
              bottom: 50%;
              font-size: 1vw;
            }
          }

          input {
            background-color: transparent;
            position: absolute;
            width: 100%;
            height: 60%;
            bottom: 0;
            left: 0;
            border: none;
            border-bottom: 1px solid black;
            outline: none;
          }
        }
      }

      .btnBox {
        width: 100%;
        height: 25%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        .btn {
          width: 80%;
          height: 40%;
          border: none;
          transition: .5s;
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #EFEFEF;

          &:hover {
            opacity: .9;
          }

          &.btnJoin {
            background-color: #545454;
            color: white;
          }

          &.active {
            background-color: #1187CF;
            color: white;
          }
        }
      }

      .btnClose {
        position: absolute;
        top: 5%;
        right: 5%;
        cursor: pointer;

        &:hover {
          font-weight: 800;
        }
      }
    }
  }
}

//회원가입창
.joinPage {
  width: 100vw;
  height: 80vh;

  .inner {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    h2 {
      font-weight: 400;
      font-size: 1.5vw;
    }

    .joinInputBox {
      width: 30%;
      height: 30%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .inputEl {
        position: relative;
        height: 35%;


        .inputMsg {
          display: flex;
          height: 70%;
          align-items: center;
          position: absolute;
          bottom: 0;
          user-select: auto;
          color: gray;
          transition: .2s;

          &.active {
            color: #1187CF;
            bottom: 50%;
            font-size: 1vw;
          }
        }

        input {
          background-color: transparent;
          position: absolute;
          width: 100%;
          height: 60%;
          bottom: 0;
          left: 0;
          border: none;
          border-bottom: 1px solid black;
          outline: none;
        }
      }
    }

    .btnJoin {
      width: 30%;
      height: 10%;
      border: none;
      transition: .5s;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #EFEFEF;

      &.active {
        background-color: black;
        color: white;
      }
    }
  }
}

//장바구니
.cart {
  width: 0vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #FFFFFF;
  box-shadow: 0 0 10px 0 rgba(black, .4);
  transition: .1s;
  z-index: 2;
  color: white;

  &.active {
    width: 25vw;
    color: black;

    .inner {
      width: 80%;
      height: 100%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      .cartHeader {
        height: 15%;
        display: flex;
        align-items: center;
        justify-content: center;

        p {
          font-weight: 700;
          font-size: 2vw;
        }
      }

      .cartBody{
        width: 100%;
        height: 70%;
        overflow-y: scroll;

        .cartEl{
          width: 100%;
          height: 20%;
        }
      }

      .cartFooter{
        height: 20%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .btn{
          width: 45%;
          height: 25%;
          border: none;
          color: #FFFFFF;
          cursor: pointer;
          transition: .2s;
          &:hover{
            scale: 1.01;
          }

          &:active{
            scale: 0.98;
          }

          &.btnBuy{
            background-color: #1187CF;
          }
          &.btnClose{
            background-color: #FC5230;
          }

        }
      }
    }
  }
}